body {
				background-color: #fff6d4;
				margin-left: 20%;
				margin-right: 20%;
				border: 1px dotted black;
				padding: 20px 20px 20px 20px;
				color:#B22222;
				font-family: sans-serif;
			       }
h1 {color: green; font-family: times_new_roman;}

			